.benefits {
  padding: 120px 0;
  position: relative;

  &::after {
    @include decorNumber;

    content: "II";
    top: 0;
    left: calc(50% + 575px);
    transform: translate(-50%, 0%);
    line-height: 1.15;
  }

  .benefits__inner {
    display: flex;
    justify-content: center;
    column-gap: 70px;
    text-align: center;

    .benefits__item {
      display: block;

      .benefits__img {
        margin-bottom: 53px;
      }

      .benefits__text {
        font-size: 20px;
        line-height: 1.35;
        font-family: $font-secondary;
      }
    }
  }
}
