.cta {
  padding: 180px 0;
  background-image: url(/src/images/cta/cta-bg.jpg);

  .cta__inner {
    .cta__title {
      @include title;
      margin-bottom: 17px;
    }

    .cta__wrapper {
      @include cta;

      .cta__text {
        line-height: 1.5;
      }

      .form {
        @include cta;

        .form__input {
          @include input;
        }

        .form__privacy {
          @include privacy-text;
        }

        .form__btn {
          @include form-btn;
        }
      }
    }
  }
}
