.map {
  padding: 180px 0;

  .map__inner {
    .map__title {
      @include title;
      margin-bottom: 88px;
    }

    .section__map {
      height: 358px;
      background-color: #626262;
    }
  }
}
