@mixin svg-position {
  position: relative;
  padding-left: 35px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
  }
}

@mixin cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@mixin customTransition {
  transition: background-color 0.2s ease;
}
