html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: $font-main;
  background-color: $dark;
  color: $white;
  font-size: 16px;
}

.main {
  overflow-x: clip;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in;

  &:hover,
  :focus {
    color: $accent;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
